body {
  background-color: #F5F7FB;
  overflow: hidden;
  font-family: 'Karla', sans-serif;
  box-sizing: border-box;
}

.blob {
  position: absolute;
  width: 400px;
  height: 320px;
  z-index: -1;
}

.top-blob {
  top: -17%;
  right: -10%;
  background-color: #fffad1;
  border-radius: 69% 31% 31% 69% / 49% 48% 52% 51%;
}

.bottom-blob {
  bottom: -17%;
  left: -10%;
  background-color: #DEEBF8;
  border-radius: 52% 48% 71% 29% / 49% 48% 52% 51%;
}

input[type="radio"] {
  display: none;
  transform: none;
}

label:has(input[type="radio"]:checked) {
  background-color: #d6dbf5;
  border-color: transparent;
}

label:has(input[type="radio"]:checked).correct,
label.correct {
  background-color: #94D7A2;
  border-color: transparent;
}

label:has(input[type="radio"]:checked).incorrect {
  background-color: #F6D9DB;
}